@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --dark: #020617;
  --light: #f0fdf4;
  --gradient: linear-gradient(10deg, #ffaa00, #ff6a00);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
  font-size: 1rem;
}


.tags-input-container {
  border: 2px solid #2520207c;
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
}
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}

.tags-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Contenedor para bloques de código */
.markdown-content pre code {
  position: relative;

  background-color: #282c34; /* color de fondo oscuro */
  color: #abb2bf; /* color de texto claro */
  padding: 1em;
  border-radius: 10px;
  overflow-x: auto;
  font-family: "Consolas", "Monaco", "Courier New", monospace;
  display: block;
  white-space: pre-wrap;
}

.markdown-content pre {
  margin: 0.5em 0;
  position: relative;
}

/* animacion feacture */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
}

.pulse-animation {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}


/* Navbar styles */

#header .burger::after,
#header .burger::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
}

#header .burger::after {
    top: -5px;
}

#header .burger::before {
    top: 5px;
}

#header .burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
}

#header .burgerActive::before {
    transform: rotate(-45deg);
    top: 0px;
}


/* Link styles */


.indicator {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 0;
}


.svgCurve{
  
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: rgb(41, 41, 41);
  stroke: none;
}

/* style for the hamburfer nav */

.btn{
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0;
  gap: .65rem;
 }
 
 .btn > div{
  background: black;
  width: 40px;
  height: 2px;
  border-radius: 5px;
  transition: all .5s;
  transform-origin: left;
 }
 
 
 
 .btn2 div:first-child{
  transform:  rotate(40deg);
  
 }
 
 .btn2 div:nth-child(2){
  opacity: 0;
 }
 
 .btn2 div:last-child{
  transform:  rotate(-40deg);
 }



 .bg-image {
  background-image: url('/renovhome/renov_04.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
}


/* Modal styles for starts scores */



.modal-button {
  position: relative;
  bottom: 1.5rem;
  padding: 0 2rem;
  min-height: 2rem;
  margin: auto auto 0 auto;
  background: #0f172a;
  color: #f1f5f9;
}

.save-button {
  padding: 0 1rem;
  margin: 2rem auto auto 0;
  background: #0f172a;
  color: #0f172a;
}

.close-button {
  padding: 0 2rem;
  height: 2.5rem;
  margin: 2rem auto 1rem 0;
  background: #101111;
  /* border: 1px dashed #9a9a9a99; */
  color: #ffaa00;
  border-radius: 4px;
  transition: background ease 400ms;
  box-shadow: 1px 1px 15px #03030399;
}

.container {
  display: flex;
  width: 50vw;
  height: 50%;
  margin: auto;
}


.close {
  height: 1.1rem;
  background: transparent;
  border: none;
  outline: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.orange-gradient {
  background: var(--gradient);
}

.green-gradient {
  background: var(--gradient2);
}

/* .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
} */

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  
}
